HOST=127.0.0.1
PORT=8080
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}

APP_KEY=q9ouMY6TZlOKZYmNiyJ49oascdegASd1

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
